/* Colour variables */
:root {
    --color-balticsea: #2d2a2e;
    --color-dandelion: #ffd866;
    --color-pampas: #fcfcfa;
    --color-silver: #c1c0c0;
    --color-thunder: #221f22;
    --color-venus: #939293;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-balticsea: #f3ead3;
        --color-dandelion: #3c8aa7;
        --color-pampas: #2c292d;
        --color-silver: #2c292d;
        --color-thunder: #fbf5e8;
        --color-venus: #2c292d;
    }
}

/* Baltic sea background colour */
.bgcolor-balticsea {
    background-color: var(--color-balticsea);
}

/* Thunder background colour */
.bgcolor-thunder {
    background-color: var(--color-thunder);
}

/* Dandelion foreground colour */
.color-dandelion {
    color: var(--color-dandelion);
}

/* Pampas foreground colour */
.color-pampas {
    color: var(--color-pampas);
}

/* Silver foreground colour */
.color-silver {
    color: var(--color-silver);
}

/* Venus foreground colour */
.color-venus {
    color: var(--color-venus);
}

/* Dandelion foreground colour when hovering */
.color-dandelion-hover {
    color: inherit;
}
.color-dandelion-hover:hover {
    color: var(--color-dandelion);
}

/* Dandelion text decoration colour */
.decolor-dandelion {
    text-decoration-color: var(--color-dandelion);
}

/* Pampas fill colour */
.fill-pampas {
    fill: var(--color-pampas);
}