/* Gap variables */
:root {
    --gap-tiny: 1rem;
}

/* Margin variables */
:root {
    --margin-none: 0;
    --margin-tiny: 1rem;
    --margin-small: 1.2rem;
    --margin-large: 2rem;
}

/* Padding variables */
:root {
    --pad-tiny: 1rem;
}

@media screen and (min-width: 768px) {
    :root {
        --gap-tiny: 1.25rem;
    }
    :root {
        --margin-none: 0;
        --margin-tiny: 1.25rem;
        --margin-small: 2.5rem;
        --margin-large: 7.5rem;
    }
    :root {
        --pad-tiny: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    :root {
        --gap-tiny: 1.5rem;
    }
    :root {
        --margin-none: 0;
        --margin-tiny: 1.5rem;
        --margin-small: 3.2rem;
        --margin-large: 10rem;
    }
    :root {
        --pad-tiny: 1rem;
    }
}

/* Tiny gap */
.gap-tiny {
    gap: var(--gap-tiny);
}

.margin-horizontal-tiny {
    margin-left: var(--margin-tiny);
    margin-right: var(--margin-tiny);
}

/* Large horizontal margins */
.margin-horizontal-large {
    margin-left: var(--margin-large);
    margin-right: var(--margin-large);
}

/* No vertical margins */
.margin-vertical-none {
    margin-bottom: var(--margin-none);
    margin-top: var(--margin-none);
}

/* Small vertical margins */
.margin-vertical-small {
    margin-bottom: var(--margin-small);
    margin-top: var(--margin-small);
}

.pad-horizontal-tiny {
    padding-left: var(--pad-tiny);
    padding-right: var(--pad-tiny);
}

.pad-vertical-tiny {
    padding-left: var(--pad-tiny);
    padding-right: var(--pad-tiny);
}

/* Vertically align towards middle */
.align-vertical-middle {
    vertical-align: middle;
}