{% extends "page.html" %}

{%- block title -%} {{ self.title }} &middot; Indraneel Mahendrakumar {%- endblock title -%}
{%- block description -%} {{ self.description }} {%- endblock description -%}

{%- block meta -%}
    <meta property="og:type" content="article">
    <meta property="article:author" content="Indraneel Mahendrakumar">

    {%- if let Status::Published { published, updated } = self.status -%}
        {% let updated = updated.as_ref().unwrap_or(published) %}
        {% let published = published.strftime("%FT%T%.f%:z") %}
        {% let updated = updated.strftime("%FT%T%.f%:z") %}

        <meta property="article:published_time" content="{{ published }}">
        <meta property="article:modified_time" content="{{ updated }}">
    {%- endif -%}

    <meta property="og:title" content="{{ self.title }} &middot; Indraneel Mahendrakumar">
    <meta property="og:description" content="{{ self.description }}">
    <meta property="og:url" content="https://carnagion.github.io/blog/{{ slug::slugify(self.title) }}">
{%- endblock meta -%}

{% block content %}
    <article>
        <header>
            <h1 class="title">{{ self.title }}</h1>

            <p class="subtitle">
                {% match self.status %}
                    {% when Status::Draft %}
                        Draft
                    {% when Status::Published with { published, updated } %}
                        {% let datetime = published.strftime("%FT%T%.f%:z") %}
                        Published <time datetime="{{ datetime }}">{{ published.strftime("%d %B %Y") }}</time>

                        {% if let Some(updated) = updated %}
                            {% let datetime = updated.strftime("%FT%T%.f%:z") %}
                            (updated <time datetime="{{ datetime }}">{{ updated.strftime("%d %B %Y") }}</time>)
                        {% endif %}
                {% endmatch %}
                
                <b>&middot;</b>

                {% let (fast, slow) = self.content.reading_time() %}
                {% if fast == slow %}
                    {{ fast }} minute{{ fast | pluralize }}
                {% else %}
                    {{ fast }}&ndash;{{ slow }} minutes
                {% endif %}
            </p>
            
            <hr>
        </header>

        {{ self.content.to_html()? | safe }}
    </article>
{% endblock content %}