{% extends "page.html" %}

{%- block title -%} Reviewing "{{ self.title }}" by {{ self.artists }} &middot; Indraneel Mahendrakumar {%- endblock title -%}
{%- block description -%} A review of "{{ self.title }}" by {{ self.artists }} {%- endblock description -%}

{%- block meta -%}
    <meta property="og:type" content="article">
    <meta property="article:author" content="Indraneel Mahendrakumar">

    {%- if let Status::Published { published, updated } = self.status -%}
        {% let updated = updated.as_ref().unwrap_or(published) %}
        {% let published = published.strftime("%FT%T%.f%:z") %}
        {% let updated = updated.strftime("%FT%T%.f%:z") %}

        <meta property="article:published_time" content="{{ published }}">
        <meta property="article:modified_time" content="{{ updated }}">
    {%- endif -%}

    <meta property="og:title" content='Reviewing "{{ self.title }}" by {{ self.artists }} &middot; Indraneel Mahendrakumar'>
    <meta property="og:description" content='A review of "{{ self.title }}" by {{ self.artists }}'>
    <meta property="og:url" content="https://carnagion.github.io/reviews/{{ slug::slugify(self.title) }}-{{ slug::slugify(self.artists) }}">
{%- endblock meta -%}

{% block content %}
    <article>
        <header>
            <h1 class="title">
                Reviewing
                <em>{{ self.title }}</em>
                by {{ self.artists }}
            </h1>

            <p class="subtitle">
                {% match self.status %}
                    {% when Status::Draft %}
                        Draft
                    {% when Status::Published with { published, updated } %}
                        {% let datetime = published.strftime("%FT%T%.f%:z") %}
                        Published <time datetime="{{ datetime }}">{{ published.strftime("%d %B %Y") }}</time>

                        {% if let Some(updated) = updated %}
                            {% let datetime = updated.strftime("%FT%T%.f%:z") %}
                            (updated <time datetime="{{ datetime }}">{{ updated.strftime("%d %B %Y") }}</time>)
                        {% endif %}
                {% endmatch %}
                
                <b>&middot;</b>

                {% let (fast, slow) = self.content.reading_time() %}
                {% if fast == slow %}
                    {{ fast }} minute{{ fast | pluralize }}
                {% else %}
                    {{ fast }}&ndash;{{ slow }} minutes
                {% endif %}
            </p>
            
            <hr>
        </header>
        <img
            src="/assets/coverart/{{ self.mbid }}.jpg"
            alt="Cover art for &quot;{{ self.title }}&quot; by {{ self.artists }}."
            title="Cover art for &quot;{{ self.title }}&quot; by {{ self.artists }}."
            class="coverart"
        >
        <p class="subtitle center">
            Rating: <b>{{ self.rating }}</b>/10
        </p>

        {{ self.content.to_html()? | safe }}
    </article>
{% endblock content %}