{% extends "page.html" %}

{%- block title -%} Indraneel Mahendrakumar {%- endblock title -%}
{%- block description -%} About me {%- endblock description -%}

{% block content %}
    <article>
        <header>
            <h1 class="mt:0">404</h1>
            <p class="font-family:Gentium|Plus">
                This page does not exist.
            </p>
            <hr>
        </header>

        <p>
            Whatever you were looking for, it's not here. You should probably <a href="/">return to the front page</a>.
        </p>
    </article>
{% endblock content %}