{% extends "page.html" %}

{%- block title -%} 404 &middot; Indraneel Mahendrakumar {%- endblock title -%}
{%- block description -%} Page not found {%- endblock description -%}

{%- block meta -%}
    <meta property="og:type" content="website">
    <meta property="og:title" content="404 &middot; Indraneel Mahendrakumar">
    <meta property="og:description" content="Page not found">
    <meta property="og:url" content="https://carnagion.github.io/404">
{%- endblock meta -%}

{% block content %}
    <article>
        <header>
            <h1 class="title">404</h1>
            <p class="subtitle">
                This page does not exist.
            </p>
            <hr>
        </header>

        <p>
            Whatever you were looking for, it's not here. You should probably <a href="/">return to the front page</a>.
        </p>
    </article>
{% endblock content %}