{% extends "page.html" %}

{%- block title -%} Indraneel Mahendrakumar {%- endblock title -%}
{%- block description -%} Indraneel Mahendrakumar's website {%- endblock description -%}

{%- block meta -%}
    <meta property="og:type" content="website">
    <meta property="og:title" content="Indraneel Mahendrakumar">
    <meta property="og:description" content="Indraneel Mahendrakumar's website">
    <meta property="og:url" content="https://carnagion.github.io">
{%- endblock meta -%}

{% block content %}
    <article>
        <header>
            <h1 class="title">Indraneel Mahendrakumar</h1>
            <p class="subtitle">
                I don't have anything interesting to put here, so have this cat instead: 🐈.
            </p>
            <hr>
        </header>

        {% let md = fs::read_to_string("content/index.md")? %}
        {% let arena = Arena::new() %}
        {{ Markdown::new(md, arena).to_html()? | safe }}
    </article>
{% endblock content %}