<!DOCTYPE html>
<html lang="en">
    {# NOTE: I would separate this metadata into another file and `include` it if I could. Unfortunately,
             it has blocks inside it, which wouldn't get overriden properly if I do that. #}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    
        <title>
            {%- block title -%} Indraneel Mahendrakumar {%- endblock title -%}
        </title>
    
        <meta name="description" content="{%- block description -%} Indraneel Mahendrakumar's website {%- endblock description -%}">
        <meta name="author" content="Indraneel Mahendrakumar">
    
        {% block meta -%}{%- endblock meta %}

        <link rel="stylesheet" href="/assets/style.css">
    
        <!-- TODO: Self-host font files -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Recursive:MONO@1&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap" rel="stylesheet">
    </head>

    <!-- TODO: Pick a better math font -->
    <body id="top">
        <header>
            <img src="/assets/duck.png" alt="A photo of a giant rubber duck." title="A photo of a giant rubber duck." class="avatar">
            <nav>
                <h3 class="navtitle">
                    <a href="/">Indraneel Mahendrakumar</a>
                </h3>
                <ul class="unlist">
                    <li>
                        <a href="/">About</a>
                    </li>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                    <li>
                        <a href="/reviews">Music Reviews</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            {% block content %}{% endblock content %}
        </main>
        
        <footer>
            <nav>
                <ul class="unlist hlist">
                    <li>
                        <a href="#top">Back to top &uarr;</a>
                    </li>
                    <li class="source">
                        &copy; 2024
                        <b>&middot;</b>
                        Content licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA</a>
                        <b>&middot;</b>
                        <a href="https://github.com/Carnagion/carnagion.github.io">Code</a>
                    </li>
                </ul>
            </nav>
        </footer>
    </body>
</html>