{% extends "page.html" %}

{%- block title -%} Music Journal &middot; Indraneel Mahendrakumar {%- endblock title -%}
{%- block description -%} Indraneel Mahendrakumar's music review blog {%- endblock description -%}

{%- block meta -%}
    <meta property="og:type" content="website">
    <meta property="og:title" content="Music Journal &middot; Indraneel Mahendrakumar">
    <meta property="og:description" content="Indraneel Mahendrakumar's music review blog">
    <meta property="og:url" content="https://carnagion.github.io/reviews">
{%- endblock meta -%}

{% block content %}
    <article>
        <header>
            <h1 class="title">Music Journal</h1>
            <p class="subtitle">
                A (non-exhaustive) catalogue of the music I come across and my hot takes on them.
            </p>
            <hr>
        </header>
    
        {% let md = fs::read_to_string("content/reviews.md")? %}
        {% let arena = Arena::new() %}
        {{ Markdown::new(md, arena).to_html()?|safe }}
    
        <ul class="unlist">
            {% for review in self.archive() %}
                {% if let Status::Published { published, updated } = review.status %}
                    <li>
                        <article>
                            <header>
                                <img
                                    src="/assets/coverart/{{ review.mbid }}.jpg"
                                    alt="Cover art for &quot;{{ review.title }}&quot; by {{ review.artists }}."
                                    title="Cover art for &quot;{{ review.title }}&quot; by {{ review.artists }}."
                                    class="coverart"
                                >
                                <h3 class="center">
                                    <a href="/reviews/{{ slug::slugify(review.title) }}-{{ slug::slugify(review.artists) }}">
                                        <em>{{ review.title }}</em>
                                        &middot;
                                        {{ review.artists }}
                                    </a>
                                </h3>
                            </header>
    
                            <p class="subtitle center">
                                {% let datetime = published.strftime("%FT%T%.f%:z") %}
                                <time datetime="{{ datetime }}">{{ published.strftime("%d %B %Y") }}</time>
                                <b>&middot;</b>
                                Rating: <b>{{ review.rating }}</b>/10
                            </p>

                            {# TODO: Truncate HTML without making it unclosed #}
                            {{ review.content.to_html()?|truncate(200)|safe }}
                            <p>
                                <a href="/reviews/{{ slug::slugify(review.title) }}-{{ slug::slugify(review.artists) }}">(read more)</a>
                            </p>
                        </article>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </article>
{% endblock content %}